<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>join chat</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="max-w-md mx-auto">
        <div class="p-3">
            <div class="text-center py-5 rounded bg-gray-800">
                <h1 class="text-2xl font-bold uppercase text-white"> Chat app</h1>
            </div>

            <!-- <div class="border min-h-[500px] border-gray-600 overflow-y auto">
                <ul class="py-2 px-3 " id="single_chat">
                    <li class="flex flex-col border p-1">
                        <span class="text-gray-400 font-bold text-sm">User 1</span>
                        <span class="p-2 rounded-lg ">Hi Baby</span>
                    </li>
                </ul
                >
            </div> -->

            <div class="flex flex-col gap-4">
                <input type="text" placeholder="Your Name" class="w-full p-3  border border-gray-900">
                <input type="text" class="w-full pla p-3  border border-gray-900" placeholder="Chat ID">
                <button class="bg-gray-800 text-white p-3 px-6">send</button>
            </div>

            <a href="/create" class="text-blue-500 text-center underline">To Create</a>

        </div>

    </div>

    <script src="/script.js"></script>
</body>
</html>